@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
       max-width: 960px; 
    }
    .about-me {
        &__2big-grid-elem {
            grid-template-columns: 400px 530px;
            gap: 30px;
            padding: 0;
        }
        &__descr_part2 {
            grid-template-columns: 250px 250px;
            gap: 20px;
            grid-template-rows: repeat(2, minmax(115px, auto));
            grid-auto-rows: 250px;
        }
    }
    .resume {
        &__wrapper {
            column-gap: 45px;
            padding: 50px 0 0 0;
            justify-content: space-around;
        }
    }
    .skills {
        &__items {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            margin: 60px 30px 0 30px;
        
        }
        &__sliders {
            margin-top: 100px;
            grid-template-columns: repeat(2, 350px);
            justify-content: space-around;
            padding: 0 20px;
            grid-template-rows: repeat(3, minmax(60px, auto));
        }
        &__slider_slider {
            width: 100%;
        }
        
    }
    .portfolio {
        &__wrapper { 
            grid-template-columns: repeat(auto-fit, 455px);
            grid-template-rows: repeat(auto-fit, 455px);
            grid-auto-rows: 455px;
            justify-content: space-around;
            row-gap: 30px;
            .horizontal {
                grid-row: unset;
                grid-column: unset;
            }
            .vertical {
                grid-row: unset;
                grid-column: unset; 
            }
        }
    }
    .contacts {
        padding: 50px 0 60px 0;
        &__wrapper {
            grid-template-columns: 300px 520px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 745px; 
    }
    .title {
        &_fz36 {
            font-size: 30px;
            line-height: 50px;
        }
    }
    .about-me {
        padding-top: 50px;
        min-height: 600px;
        &__2big-grid-elem {
            grid-template-columns: 300px 380px;
            gap: 40px;
            padding: 0;
        }
        &__descr_part2 {
            grid-template-columns: 360px;
            grid-template-rows: repeat(3,minmax(120px, auto));
            gap: 10px;
            grid-auto-rows: 120px;
        }
        &__grid-elem {
            justify-content: flex-start;
        }
        &__block2 {
            margin-left: 20px;
        }
        &__descr_part2 {
            margin-top: 20px;
        }
        &__descr_part2 {
            margin-top: 20px;
        }
        &__text {
            margin-top: 10px;
        }
    }
    .portfolio {
        &__wrapper { 
            grid-template-columns: repeat(auto-fit, 370px);
            grid-template-rows: repeat(auto-fit, 370px);
            grid-auto-rows: 370px; 
            row-gap: 10px;           
        }
    }
    .resume {
        padding-top: 70px;
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            margin: 0 30px;
        }
    }
    .divider {
        margin-top: 15px;
    }
    .skills {
        padding-top: 100px;
    }
    .contacts {
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 500px;
        }
        &__title {
            text-align: center;
            @include before_circle;
            z-index: 2;
            &:before {
                top: -6px;
                left: 50%;
                transform: translateX(-50%);
            } 
        }
        &__subtitle {
            text-align: center;
        }
        &__descr .divider {
            margin: 10px auto 0 auto;
        }
        &__text {
            text-align: center;
        }
        &__social {
          display: flex;
          justify-content: center;
        }
    }
    .languages {
        &__items {
            justify-content: center;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px; 
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            width: 300px;
            line-height: 39px;
        }
    }
    .about-me {
        padding-top: 40px;
        &__2big-grid-elem {
            grid-template-columns: 1fr;
            grid-template-rows: 400px auto auto;
        }
        &__descr_part2 {
            grid-template-columns: 260px 260px;
            grid-template-rows: repeat(2,minmax(120px, auto));
        }   
        &__photo img{
            object-fit: contain;
        }     
    }
    .resume {
        padding-top: 70px;
        &__wrapper {
            column-gap: 30px;
            padding-left: 10px;
            margin: 0;
        }
        &__item {
            &:before {
                top: 39px;
                width: 22px;
            }
            &-head {
                padding-top: 20px;
                padding-left: 79px;
            }
            &-icon {
                top: 20px;
                left: 22px;
            }
            
        }
    }
    .skills {
        &__items {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            margin: 40px 5px 0 5px;
        }
        &__sliders {
            grid-template-columns: repeat(2,250px);
        }
    }
    .portfolio {
        padding-top: 40px;
        &__wrapper { 
            grid-template-columns: repeat(auto-fit, 500px);
            grid-template-rows: repeat(auto-fit, 400px);
            grid-auto-rows: 400px;  
            row-gap: 20px;          
        }
    }
    
}

@media (max-width: 576px) {
    .container {
        max-width: 100%; 
        padding: 0 10px;
     }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }

    .menu {
        &__block {
            width: 300px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/olga_bg1.jpg') no-repeat 57%/cover;
        &__btns {
          margin-top: 30px;  
        }
    }
    .about-me {
        &__2big-grid-elem {
            grid-template-columns: 1fr;
            grid-template-rows: 340px auto auto;
            gap: 20px;
        }
        &__descr_part2 {
            grid-template-columns: 260px;
            grid-template-rows: repeat(3,minmax(120px, auto));
            margin-left: 20px;
        }        
    }
    .resume {
        padding-top: 40px;
        &__wrapper{
            padding-top: 40px;
            grid-template-columns: 1fr;
            row-gap: 40px;
        } 
    }
    .skills {
        padding-top: 40px;
        &__items {
            grid-template-columns: 290px;
            grid-template-rows: repeat(4, 290px);
            justify-content: center;
        }
        #seven {
            grid-column: unset;
            grid-row: unset;
        }
        &__sliders {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 60px);
            margin-top: 50px;
        }
        &__item {
            padding: 20px;
            &_descr{
                margin-top: 10px;
            }
            &_title{
                margin-top: 15px;
            }
        }   

    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 380px);
            grid-auto-rows: 380px;
        }
    }
    .title {
        &_fz36 {
            line-height: 36px;
        }
    }
    .contacts {
        padding-bottom: 40px;
        
        &__wrapper {
            padding: 0;
        }
    }
}

@media (max-width: 380px) {
    .promo__title{
        width: 295px;
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 285px);
            grid-template-rows: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            row-gap: 10px;
        }
    }
    .skills__items {
        margin: 40px 0 0 0;
    }
}

@media (max-height: 560px) {
    .menu{
        &__social {
            bottom: 35px;
            &_languages {
                padding-top: 5px;
            }
        }
        
        &__block {
            padding: 80px 0 20px 10px;
        }
    }

}
@media (max-height: 460px) {
    .menu{
        &__social {
            bottom: 20px;
        }
        &__close svg{
            width: 24px;
        }
        &__link {
            font-size: 20px;
            line-height: 30px;
        }
        
        &__block {
            padding: 60px 0 20px 10px;
        }
    }

}

@media (max-height: 394px) {
    .menu{
       
        &__link {
            font-size: 15px;
            line-height: 20px;
            &:before {
                top: 0;
            }
        }
        
        &__block {
            padding: 70px 0 20px 10px;
        }
    }

}