.preis {
    padding-top: 85px;
    &__services {
        display: grid;
        grid-template-columns: repeat(2, minmax(370px, auto));
        grid-template-rows: repeat(8, minmax(15px, auto));
        justify-content: space-between;
        align-content: space-between;
        row-gap: 15px;
        margin: 60px 50px 0 50px;
        &_item {
            display: grid;
            grid-template-columns: repeat(2, minmax(367, auto));
            grid-template-rows: repeat(2, auto);
            justify-content: space-between;
            align-content: space-between;
            padding-left: 25px;
            &-name {
                @include before_circle;
                &:before {
                    width: 15px;
                    height: 15px;
                    top: 9%;
                    left: -25px;
                }
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: #000000;
                position: relative;
                z-index: 2;
                row-gap: 5px;
            }
        }
    }
}